<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ma super application Express</h1>
    <p>Les membres de l'équipe sont: Xavier Veilleux</p>
  </body>
</html>
